/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
  text-decoration: none;
  color: black;
}
 
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}
 
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
 
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding: 20px 5%;
  background: url('img/bg.png');
}
 
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}
 
/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
 
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;

}
 
/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}
 
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}


input[type='radio']{
  display: none;
}


img{
  max-height: 150px;
  width: 33%;
  padding: 8px;
}

.leftBlock > label{
  display: block;
  height: 50px;
  padding: 16px;
  width: 100%;
  transition: .3s;
}

.leftBlock > label:hover{
  background-color: rgba(204,153,102,.2);
  transition: .3s;
  cursor: pointer;
}

.shadow-big{
    box-shadow:0px 1px 36px 1px rgba(0,0,0,1);
    -webkit-box-shadow:0px 1px 36px 1px rgba(0,0,0,1);
    -moz-box-shadow:0px 1px 36px 1px rgba(0,0,0,1);
}
 
#main {
    position: absolute;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    padding: 64px 16px 0;
    left: 50%;
    border-radius: 20px;
    background-color: white;
    transform: translate(-50%, 0);
    min-height: calc(100vh - 20px);
    min-width: 600px;
    max-width: 1270px;
    width: 100%;
}

.content{
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}


.middleBlock{
  width: 60%;
}

.leftBlock{
  width: 16%;
  align-self: stretch;
  border-right: 1px solid rgba(0,0,0,.1) ;
  display: flex;
  align-items: flex-start;
  position: relative;
  flex-direction: column;
}

.rightBlock{
  width: 23%;
  align-self: flex-start;
}


.middleBlock__goods{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between; 
  flex-wrap: wrap;
}

.middleBlock__goods img:nth-of-type(4n + 2){
  flex-basis: 66%;
}

.middleBlock__goods img:nth-of-type(8n){
  flex-basis: 100%;
}


.rightBlock__rating{
  padding: 16px;
  border: 1px solid rgba(0,0,0,.1);
  text-align: right;
  border-radius: 10px;
}

.rightBlock__raiting--title{
  width: 100%;
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
}

.rightBlock__rating > label,
.rightBlock__rating > input {
  text-align: end;
}

.rightBlock__rating > div {
  align-self: flex-end;
}

.rightBlock__raiting--bar{
  height: 16px;
  margin: 16px 16px 8px 8px ;
  border-radius: 4px;
  position: relative;
}

.rightBlock__raiting--bar::before{
  content: attr(data-category);
  display: block;
  position: absolute;
  font-size: 12px;
  bottom: 15px
}

.rightBlock__raiting--bar::after{
  content: attr(data-rating);
  display: block;
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  right: -5px;
  bottom: -3px;
}

.rightBlock__raiting--barWrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer{
  flex: 0 0 auto;
  border-top: 1px solid rgb(0 0 0/10%);
  width: 100%;
  height: 150px;
  margin: auto 0 0 0;
}



.rightBlock__raiting--barWrapper{
  display: flex;
  flex-direction: column;

}

[name="sort"]:checked + div div{
  order: calc( 10 - var(--rating) )
}

.rating-10,
.rating-9{
  background: linear-gradient(90deg, rgba(58,232,54,1) 48%, rgba(255,255,255,1) 100%);
}

.rating-8,
.rating-7,
.rating-6{
  background: linear-gradient(90deg, rgba(232,203,54,1) 48%, rgba(255,255,255,1) 100%);
}

.rating-5,
.rating-4,
.rating-3,
.rating-2,
.rating-1{
  background: linear-gradient(90deg, rgba(232,77,54,1) 48%, rgba(255,255,255,1) 100%);
}



.rating-10{
  width: calc(100% - 30px);
}
.rating-9{
  width: calc(90% - 30px);
}
.rating-8{
  width: calc(80% - 30px);
}
.rating-7{
  width: calc(70% - 30px);
}
.rating-6{
  width: calc(60% - 30px);
}
.rating-5{
  width: calc(50% - 30px);
}
.rating-4{
  width: calc(40% - 30px);
}
.rating-3{
  width: calc(30% - 30px);
}
.rating-2{
  width: calc(20% - 30px);
}
.rating-1{
  width: calc(10% - 30px);
}

[data-rating='1']{--rating: 1}
[data-rating='2']{--rating: 2}
[data-rating='3']{--rating: 3}
[data-rating='4']{--rating: 4}
[data-rating='5']{--rating: 5}
[data-rating='6']{--rating: 6}
[data-rating='7']{--rating: 7}
[data-rating='8']{--rating: 8}
[data-rating='9']{--rating: 9}
[data-rating='10']{--rating: 10}


#cat0:checked ~ div > label:nth-of-type(1){
  background-color: rgba(204,153,102,.2);
  transition: .2s;
}

#cat1:checked ~ div > label:nth-of-type(2){
  background-color: rgba(204,153,102,.2);
  transition: .2s;
}
#cat2:checked ~ div > label:nth-of-type(3){
  background-color: rgba(204,153,102,.2);
  transition: .2s;
}
#cat3:checked ~ div > label:nth-of-type(4){
  background-color: rgba(204,153,102,.2);
  transition: .2s;
}
#cat4:checked ~ div > label:nth-of-type(5){
  background-color: rgba(204,153,102,.2);
  transition: .2s;
}
#cat5:checked ~ div > label:nth-of-type(6){
  background-color: rgba(204,153,102,.2);
  transition: .2s;
}
#cat6:checked ~ div > label:nth-of-type(7){
  background-color: rgba(204,153,102,.2);
  transition: .2s;
}


#cat1:checked ~ .middleBlock > div *:not(#cat1){
  filter: brightness(10%);
  transition: .2s;
}
#cat2:checked ~ .middleBlock > div  *:not(#cat2){
  filter: brightness(10%);
  transition: .2s;
}
#cat3:checked ~ .middleBlock > div   *:not(#cat3){
  filter: brightness(10%);
  transition: .2s;
}
#cat4:checked ~ .middleBlock > div   *:not(#cat4){
  filter: brightness(10%);
  transition: .2s;
}
#cat5:checked ~ .middleBlock > div   *:not(#cat5){
  filter: brightness(10%);
  transition: .2s;
}
#cat6:checked ~ .middleBlock > div   *:not(#cat6){
  filter: brightness(10%);
  transition: .2s;
}










